* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  font-size: 50px;
}

$font: #FFF;
$item-bg: seagreen;

.flex-container {
  display: flex;
  flex-direction: row;
  .item {
    flex: 1;
    margin: 10px;
    padding: 15px;
    text-align: center;
    background: $item-bg;
    color: $font;
  }
  .item1 {
    order: 1;
  }
  .item8 {
    order: -1;
  }
}
